@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root {
  --background: #000000;
  --foreground: #171717;
  --font-principal: 'Oxanium', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-principal);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
